<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js"   mimeType="application/javascript" />
      <mimeMap fileExtension=".css"  mimeType="text/css" />
    </staticContent>

    <directoryBrowse enabled="false" />

    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="index.html" responseMode="ExecuteURL" />
    </httpErrors>

  </system.webServer>
</configuration>