<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode"
           path="server.js"
           verb="*"
           modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="AllToNode" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="node"
      devErrorsEnabled="true"
      loggingEnabled="true"
      logDirectory="D:\home\site\wwwroot\iisnode" />
  </system.webServer>
</configuration>